*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
--clr-background-body: #f5f5f5;
--clr-background-product-card: #fff;
--clr-background-button: #485fb9;
--clr-text-heading: black;
--clr-text-regular: #7e7e7e;
}

html {
    font-family: "Quicksand";
}

body {
    background-color: var(--clr-background-body);
}

.main-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 100vh;
    gap: 3rem;
    margin: 3rem;
}

.asics, .adidas, .new-balance {
    background-color: var(--clr-background-product-card);
    border-radius: 1.5rem;
    position: relative;
}

.text-container {
    padding: 1rem;
}

.box1, .box2, .box3 {
    display: grid;
    background-color: var(--clr-background-body);
    border-radius: 0.5rem;
    padding: 1rem;
    gap: 1rem;
}

.money {
    display: flex;
    justify-content: center;
    background-color: var(--clr-background-product-card);
    padding: 0.5rem;
    border-radius: 0.3rem;
}

p {
    color: var(--clr-text-regular);
    margin-bottom: 2rem;
}

a {
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: var(--clr-background-product-card);
    background-color: var(--clr-background-button);
    padding: 0.5rem;
    border-radius: 0.3rem;
}

img {
    width: 100%;
    border-top-left-radius: 1.5rem;
    border-top-right-radius: 1.5rem;
    mask-image: linear-gradient(to bottom, black 70%, transparent 100%);
}

.form {
    display: grid;
    grid-template-columns: auto 1fr auto 1fr;
    align-items: center;
}

select {
    width: 50%;
    padding: 2px;
    margin-left: 5px;
    text-decoration: none;
}

label {
    font-size: 16px;
    margin-right: 5px;
    color: var(--clr-text-regular);
}
.event {
    position: absolute;
    background-color: hsla(0, 0%, 96%, 0.75);
    text-decoration: none;
    top: 0.75rem;
    right: 0.75rem;
    padding-block: 0.25rem;
    padding-inline: 0.5rem;
    font-size: 0.75rem;
    border-radius: 0.25rem;
}

.circle-container {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.color {
    margin-bottom: 1.25rem;
    color: var(--clr-text-regular);
}

.circle {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    margin-bottom: 1.25rem;
}

.circle1 {
    background-color: rgb(106, 106, 250);
}

.circle2 {
    background-color: rgb(245, 86, 86);
}

.circle3 {
    background-color: black;
}

.circle4 {
    background: linear-gradient(to right, rgb(148, 148, 60) 50%, black 50%);
}

.circle5 {
    background: linear-gradient(to right, rgb(91, 182, 212) 50%, black 50%);
}

.circle6 {
    background: linear-gradient(to right, rgb(238, 123, 142) 50%, black 50%);
}

.circle7 {
    background: linear-gradient(to right, red 50%, white 50%);
}

.circle8 {
    background: linear-gradient(to right, black 50%, white 50%);
}